<ion-header>
  <ion-navbar color="lighter">
    <ion-title>{{title}}</ion-title>
  </ion-navbar>
</ion-header>

<div class="loading-container" *ngIf="loading">
  <ion-spinner color="primary"></ion-spinner>
</div>

<ion-content>

  <ion-list>
    
    <div *ngIf="isBrowser == false" text-center margin (click)="getPicture()">
      <img class="picture" [src]="pictureSrc ? pictureSrc : member.picture">
    </div>

    <div *ngIf="isBrowser == true" text-center margin class="image-upload">
        <label for="file-input">
          <img class="picture" [src]="pictureSrc ? pictureSrc : member.picture">
        </label>
        <input id="file-input" class="file-select" accept="image/*" (change)="detectFile($event)" type="file"/>
    </div>
    
    <ion-item>
      <ion-label color="primary" stacked>Nome</ion-label>
      <ion-input [(ngModel)]="member.name">{{member.name | titlecase}}</ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary" stacked>Email</ion-label>
      <ion-input [(ngModel)]="member.email">{{member.email}}</ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary" stacked>Telefone</ion-label>
      <ion-input [(ngModel)]="member.phone">{{member.phone}}</ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary" stacked>Aniversário</ion-label>
      <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="member.birthdate">{{member.birthdate}}</ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label color="primary" stacked>Integração</ion-label>
      <ion-input [(ngModel)]="member.integration">{{member.integration | titlecase}}</ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary" stacked>Comentários</ion-label>
      <ion-textarea rows="4" [(ngModel)]="member.comments">{{member.comments}}</ion-textarea>
    </ion-item>
  </ion-list>  
  
  <ion-fab bottom right (click)="preUpdate()">
    <button ion-fab><ion-icon color="white" name="checkmark"></ion-icon></button>
  </ion-fab>

</ion-content>
