page-member-detail {
    
    .image-upload > input{
        display: none;
    }

    .image-upload:hover {
        cursor: pointer;
    }

    .picture:hover {
        cursor: pointer;
    }

    .list {
        margin-bottom: 12vh;
    }
}
