<ion-header>
  <ion-navbar color="lighter">
    <ion-title>{{list.name | titlecase}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-list>
    
    <ion-list-header no-margin>Detalhes</ion-list-header>

    <ion-item>
      <ion-label color="primary" stacked>Data</ion-label>
      <ion-label>{{list.date | date: "dd/MM/yyyy"}}</ion-label>
    </ion-item>

    <ion-item no-lines>
      <ion-label color="primary" stacked>Descrição</ion-label>
    </ion-item>

    <ion-item text-wrap no-lines>
      <ion-label text-wrap no-lines>{{list.description}}</ion-label>
    </ion-item>
    
    <ion-list-header no-margin>Membros</ion-list-header>

    <ion-item *ngFor="let member of list.members" (click)="openPage('MemberProfilePage', member)">
      <ion-avatar item-start>
        <img src="{{member.picture ? member.picture : 'assets/img/avatar.png'}}">
      </ion-avatar>
      <h2>{{member.name | titlecase}} - {{member.status | titlecase}}</h2>
      <p>Última presença: {{member.lastPresence | date: "dd/MM/yyyy"}}</p>
      <p *ngIf="member.integration" >Integração: {{member.integration}}</p>
    </ion-item>

  </ion-list>
  
  <ion-fab bottom right>
    <button ion-fab (click)="openPage('AttendanceListDetailPage')"><ion-icon color="white" name="create"></ion-icon></button>
  </ion-fab>

</ion-content>
