<div class="loading-container" *ngIf="loading">
  <ion-spinner color="primary"></ion-spinner>
</div>

<div class="loading-container" *ngIf="loading">
  <ion-spinner color="primary"></ion-spinner>
</div>

<ion-content class="login-bg">
  
  <div class="shade">
    
    <div class="login-logo">
      <img  src="assets/img/appicon.png"/>
    </div>

    <ion-list>

      <ion-item>
        <ion-label stacked>Email</ion-label>
        <ion-input type="email" [(ngModel)]="account.email" name="email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label stacked>Senha</ion-label>
        <ion-input type="password" [(ngModel)]="account.password" name="password"></ion-input>
      </ion-item>

      <div padding>
        <button ion-button round color="primary" block (click)="doLogin()">Entrar</button>
      </div>

      <div padding>
        <button ion-button round outline small color="white" block>Esqueci a senha</button>
      </div>

      <div padding>
        <button ion-button round outline small color="white" block (click)="openPage('NewGroupPage')">Criar novo grupo</button>
      </div>

    </ion-list>
  </div>
  
</ion-content>
