page-login {

    .login-bg {
        position: relative;
        background: url('../assets/img/login-bg.jpg') no-repeat transparent;
        background-size: cover;
        z-index: 1;
        background-repeat: repeat-x;
        animation: animatedBackground 100s linear infinite;
    }

    @keyframes animatedBackground {
        from { background-position: 0 0; }
        to { background-position: 100% 0; }
    }

    .shade {
        height: 100%;
        width: 100%;
        z-index: 10;
        background: rgba(255,255,255,0.3);
    }
    
    .login-logo {
        padding-top: 6vh;
        width: 20vh;
        height: 20vh;
        margin: 0 auto;
    }

    .list {
        background: rgba(0,0,0,0.6);
        border-radius: 1vh;
    }

    .item {
        background: transparent;
        color: white;
        font-weight: 700;
    }
}
