<ion-header>
  <ion-navbar color="lighter">
    <ion-title>{{title}}</ion-title>
  </ion-navbar>
</ion-header>

<div class="loading-container" *ngIf="loading">
  <ion-spinner color="primary"></ion-spinner>
</div>

<ion-content>

  <ion-list>

    <ion-item>
      <ion-label color="primary" stacked>Nome</ion-label>
      <ion-input [(ngModel)]="list.name"></ion-input>
    </ion-item>

    <ion-item text-wrap>
      <ion-label color="primary" stacked>Descrição</ion-label>
      <ion-textarea #myInput text-wrap rows="4" maxLength="500" [(ngModel)]="list.description"></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label color="primary" stacked>Data</ion-label>
      <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="list.date"></ion-datetime>
    </ion-item>

    <ion-list-header no-lines>Incluir Membros na Chamada</ion-list-header>

    <ion-searchbar [(ngModel)]="searchTerm" (ionInput)="setFilteredMembers()"></ion-searchbar>

    <button ion-button clear block (click)="openPage('MemberDetailPage')">Cadastrar Novo Membro</button>
    
    <ion-item-sliding *ngFor="let member of filteredMembers">

      <ion-item>
        <ion-avatar item-start>
          <img src="{{member.picture ? member.picture : 'assets/img/avatar.png'}}">
        </ion-avatar>
        <ion-label>{{member.name}} <span style="color: grey;"> - {{member.status}}</span></ion-label>
        <ion-checkbox item-end (ionChange)="addMember(member)">Adicionar</ion-checkbox>
      </ion-item>

      <ion-item-options side="right">
        <button ion-button (click)="openPage('MemberProfilePage')">Ver Perfil</button>
      </ion-item-options>

    </ion-item-sliding>

    <ion-item-sliding *ngFor="let member of list.members">

      <ion-item>
        <ion-avatar item-start>
          <img src="{{member.picture ? member.picture : 'assets/img/avatar.png'}}">
        </ion-avatar>
        <ion-label>{{member.name}} <span style="color: grey;"> - {{member.status}}</span></ion-label>
        <ion-checkbox checked="true" item-end (ionChange)="removeMember(member)">Adicionar</ion-checkbox>
      </ion-item>

      <ion-item-options side="right">
        <button ion-button (click)="openPage('MemberProfilePage')">Ver Perfil</button>
      </ion-item-options>

    </ion-item-sliding>

  </ion-list>

  <ion-fab bottom right>
    <button ion-fab (click)="updateList()"><ion-icon color="white" name="checkmark"></ion-icon></button>
  </ion-fab>

</ion-content>
