<ion-header>

  <ion-navbar color="primary">
    <ion-title>Novo Grupo</ion-title>
  </ion-navbar>

</ion-header>

<div class="loading-container" *ngIf="loading">
  <ion-spinner color="primary"></ion-spinner>
</div>

<ion-content padding>

  <ion-list>

    <ion-item>
      <ion-label stacked>Seu nome</ion-label>
      <ion-input type="text" [(ngModel)]="account.displayName"></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label stacked>Email</ion-label>
      <ion-input type="email" [(ngModel)]="account.email"></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label stacked>Senha</ion-label>
      <ion-input type="password" [(ngModel)]="account.password"></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label stacked>Confirmar senha</ion-label>
      <ion-input type="password" [(ngModel)]="account.password_match"></ion-input>
    </ion-item>

    <div padding (click)="signup()">
      <button ion-button round color="primary" block>Criar grupo</button>
    </div>
  </ion-list>

</ion-content>
