<ion-header>
  <ion-navbar color="lighter">
    <ion-title>Lista de Membros</ion-title>
  </ion-navbar>
</ion-header>

<div class="loading-container" *ngIf="loading">
  <ion-spinner color="primary"></ion-spinner>
</div>

<ion-content>
  <ion-list>
    <ion-item no-lines>
      <ion-label color="primary" stacked>Filtro Status</ion-label>
      <ion-select placeholder="Escolher" interface="popover">
        <ion-option (ionSelect)="filterStatus(constants.STATUS.NEW)">{{constants.STATUS.NEW | titlecase}}</ion-option>
        <ion-option (ionSelect)="filterStatus(constants.STATUS.GUEST)">{{constants.STATUS.GUEST | titlecase}}</ion-option>
        <ion-option (ionSelect)="filterStatus(constants.STATUS.ACTIVE)">{{constants.STATUS.ACTIVE | titlecase}}</ion-option>
        <ion-option (ionSelect)="filterStatus(constants.STATUS.YELLOW)">{{constants.STATUS.YELLOW | titlecase}}</ion-option>
        <ion-option (ionSelect)="filterStatus(constants.STATUS.RED)">{{constants.STATUS.RED | titlecase}}</ion-option>
        <ion-option (ionSelect)="filterStatus(constants.STATUS.INACTIVE)">{{constants.STATUS.INACTIVE | titlecase}}</ion-option>
      </ion-select>
    </ion-item>
      
    <ion-item no-lines style="border-top: 1px solid gainsboro;">
      <ion-label color="primary" stacked>Ordenação</ion-label>
      <ion-select placeholder="Escolher" interface="popover">
        <ion-option (ionSelect)="filterOrder(constants.PARAMS.DESC)">Mais Recentes</ion-option>
        <ion-option (ionSelect)="filterOrder(constants.PARAMS.ASC)">Mais Antigos</ion-option>
      </ion-select>
    </ion-item>

    <ion-list-header no-margin>Membros</ion-list-header>

    <ion-searchbar [(ngModel)]="searchTerm" (ionInput)="setFilteredMembers()"></ion-searchbar>

    <ion-item-sliding *ngFor="let member of filteredMembers">

      <ion-item (click)="openPage('MemberProfilePage', member)">
        <ion-avatar item-start>
          <img src="{{member.picture ? member.picture : 'assets/img/avatar.png'}}">
        </ion-avatar>
        <h2>{{member.name | titlecase}} - {{member.status | titlecase}}</h2>
        <p>Última presença: {{member.lastPresence | date: "dd/MM/yyyy"}}</p>
        <p *ngIf="member.integration" >Integração: {{member.integration}}</p>
      </ion-item>

      <ion-item-options side="right">
        <button ion-button color="danger" (click)="confirmDelete(member)">Deletar</button>
      </ion-item-options>

    </ion-item-sliding>

  </ion-list>

  <ion-fab bottom right>
    <button ion-fab (click)="openPage('MemberDetailPage')"><ion-icon color="white" name="add"></ion-icon></button>
  </ion-fab>

</ion-content>
