page-home {

    .home-bg {
        background-image: url('../assets/img/home-bg.png');
        background-color: gainsboro;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom;
    }

    ion-title {
        color: white;
    }

    .big {
        height: 20vh;
    }

    .right {
        margin-top: -2vh;
    }

    .logout {
        position: absolute;
        margin: 0.4vh;
        margin-left: 2vh;
    }
}
