<ion-header>

  <ion-navbar color="lighter">
    <ion-title>{{currentGroup.name}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="home-bg">

  <ion-grid no-padding>
    <ion-row no-padding>
      <ion-col (click)="openPage('MembersListPage')" ion-col col-6 col-lg-6 col-xl-6>
        <ion-card padding class="big">
          <div>
            <ion-icon name="ios-people-outline"></ion-icon>
          </div>
          <p>Lista de Membros</p>
        </ion-card>
      </ion-col>
      <ion-col (click)="openPage('AttendanceListListPage')" ion-col col-6 col-lg-6 col-xl-6 ion-card>
        <ion-card padding>
          <div>
            <ion-icon name="ios-calendar-outline"></ion-icon>
          </div>
          <p>Listas de Chamada</p>
        </ion-card>
      </ion-col>
      <ion-col (click)="openPage('ReportsPage')" ion-col col-6 col-lg-6 col-xl-6 ion-card>
        <ion-card padding>
          <div>
            <ion-icon name="ios-pie-outline"></ion-icon>
          </div>
          <p>Relatórios</p>
        </ion-card>
      </ion-col>
      <ion-col *ngIf="myApp.isPresident == true" (click)="openPage('SettingsPage')" ion-col col-6 col-lg-6 col-xl-6 ion-card>
        <ion-card padding class="big right">
          <div>
            <ion-icon name="ios-build-outline"></ion-icon>
          </div>
          <p>Configurações</p>
        </ion-card>
      </ion-col>
      <ion-col  (click)="logout()" ion-col col-12 col-lg-12 col-xl-12 ion-card>
        <ion-card padding>
          <div>
            <ion-icon name="ios-log-out-outline"></ion-icon>
            <span class="logout">Sair</span>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
