<ion-header>
  <ion-navbar color="lighter">
    <ion-title>Configurações</ion-title>
  </ion-navbar>
</ion-header>

<div class="loading-container" *ngIf="loading">
  <ion-spinner color="primary"></ion-spinner>
</div>

<ion-content>
  
  <ion-list>
    <ion-list-header no-margin>Nome do Grupo</ion-list-header>
    <ion-item>
      <ion-input [(ngModel)]="currentGroup.name">{{currentGroup.name}}</ion-input>
    </ion-item>
    <ion-list-header no-margin>Organizadores</ion-list-header>
    <ion-item-sliding *ngFor="let organizer of organizers" no-margin>
      <ion-item>
        <ion-label>{{organizer.email}}</ion-label>
      </ion-item>
      <ion-item-options side="right">
        <button padding-left padding-right ion-button icon-only color="primary" (click)="confirmPromote(organizer.uid)">
          Promover
        </button>
        <button padding-left padding-right ion-button icon-only color="danger" (click)="confirmRemove(organizer.uid)">
          Remover
        </button>
      </ion-item-options>
    </ion-item-sliding>
    <div padding>
      <button ion-button block round clear (click)="onAddUserClick()">Adicionar Organizador</button>
    </div>
  </ion-list>

  <ion-fab bottom right (click)="save()">
    <button ion-fab><ion-icon color="white" name="checkmark"></ion-icon></button>
  </ion-fab>
</ion-content>
