<ion-header>
  <ion-navbar color="lighter">
    <ion-title>Relatórios</ion-title>
  </ion-navbar>
</ion-header>

<div class="loading-container" *ngIf="loading">
  <ion-spinner color="primary"></ion-spinner>
</div>

<ion-content>
  <ion-list>
    <ion-list-header no-margin>Membros</ion-list-header>
    <button ion-item text-wrap detail-none (click)="exportCsv('membros')">
      <ion-icon item-start name="ios-people-outline"></ion-icon>
      <ion-label>Exportar Lista de Membros</ion-label>
    </button>
    <button no-lines ion-item text-wrap detail-none (click)="exportCsv('mudanças')">
      <ion-icon item-start name="ios-warning-outline"></ion-icon>
      <ion-label>Exportar Mudanças de Status</ion-label>
    </button>
    
    <ion-list-header no-margin>Chamadas</ion-list-header>
    <button no-lines ion-item text-wrap detail-none (click)="exportCsv('listas')">
      <ion-icon item-start name="ios-calendar-outline"></ion-icon>
      <ion-label>Exportar Listas de Chamadas</ion-label>
    </button>

    <ion-list-header *ngIf="url != null" no-margin>Opções</ion-list-header>
    
    <div *ngIf="url != null && !isBrowser">
      <ion-item text-wrap detail-none>
        <ion-toggle item-end [(ngModel)]="sendToEverybody"></ion-toggle>
        <ion-label>Enviar para todos os organizadores</ion-label>
      </ion-item>
      <button ion-button full clear (click)="sendEmail()">Enviar Arquivo</button>
    </div>

    <a ion-button full clear *ngIf="url != null && isBrowser" [href]="url" target="_self" download="membros.csv">Salvar Arquivo</a>
    
  </ion-list>
</ion-content>
