<ion-header>
  <ion-navbar color="lighter">
    <ion-title>Listas de Chamada</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item no-lines>
      <ion-label color="primary" stacked>Ordenação</ion-label>
      <ion-select placeholder="Escolher" interface="popover">
        <ion-option (ionSelect)="filterOrder(constants.PARAMS.DESC)">Mais Recentes</ion-option>
        <ion-option (ionSelect)="filterOrder(constants.PARAMS.ASC)">Mais Antigos</ion-option>
      </ion-select>
    </ion-item>
    <ion-list-header no-margin>Listas</ion-list-header>
    
    <ion-item-sliding *ngFor="let list of lists">

      <ion-item (click)="openPage('AttendanceListInfoPage', list)">
        <ion-icon name="ios-clipboard-outline" item-start></ion-icon>
        <h3>{{list.name | titlecase}}</h3>
        <p>{{list.presencas}} - Presentes</p>
        <p>{{list.date | date: "dd/MM/yyyy"}}</p>
      </ion-item>

      <ion-item-options side="right">
        <button ion-button color="danger" (click)="confirmDelete(list)">Deletar</button>
      </ion-item-options>

    </ion-item-sliding>

  </ion-list>

  <ion-fab bottom right>
    <button ion-fab (click)="openPage('AttendanceListDetailPage')"><ion-icon color="white" name="add"></ion-icon></button>
  </ion-fab>

</ion-content>
