// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.loading-container {
    position: absolute;
    z-index: 100;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);

    .spinner {
        position: absolute;
        top: 48%;
        left: 46%;
    }
}

.toolbar-title.toolbar-title-md, 
.toolbar-title.toolbar-title-ios, 
.toolbar-title.toolbar-title-wp { color: color($colors, dark); }

.list {
    max-width: 600px;
    margin: 0 auto;
}

.grid {
    max-width: 600px;
    margin: 0 auto;
}

.card {
    background: white;
}

ion-icon {
    color: color($colors, primary);
    font-size: 1.8em;
}

.item {
    background: white;
}

.list-header {
    min-height: unset;
    color: color($colors, primary);
}

.picture {
    background-image: url('../assets/img/avatar.png');
    background-repeat: no-repeat;
    object-fit: cover;
    background-position: center; 
    width: 20vh;
    height: 20vh;
    border-radius: 50%;
}

ion-avatar img {
    object-fit: cover;
}

.error-msg {
    .toast-wrapper {
        background: gainsboro;
      }
    .toast-message {
        font-weight: 600;
        color: indianred;
    }
}

.success-msg {
    .toast-wrapper {
        background: gainsboro;
      }
    .toast-message {
        font-weight: 600;
        color: green;
    }
}