<ion-header>
  <ion-navbar color="lighter">
    <ion-title>Perfil</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-list>
    <div text-center margin-top>
      <img class="picture" [src]="member.picture ? member.picture : 'assets/img/avatar.png'">
    </div>
    <h2 text-center>{{member.name | titlecase}}</h2>
    
    <ion-item>
      <ion-label color="primary" stacked>Status</ion-label>
      <ion-label *ngIf="member.status">{{member.status | titlecase}}</ion-label>
    </ion-item>
    
    <ion-item>
      <ion-label color="primary" stacked>Adicionado em</ion-label>
      <ion-label *ngIf="member.created_at">{{member.created_at.seconds * 1000 | date: 'dd/MM/yyyy'}}</ion-label>
    </ion-item>

    <ion-item>
      <ion-label color="primary" stacked>Última Presença</ion-label>
      <ion-label *ngIf="member.lastPresence">{{member.lastPresence | date: "dd/MM/yyyy"}}</ion-label>
    </ion-item>

    <ion-item>
      <ion-label color="primary" stacked>Email</ion-label>
      <ion-label *ngIf="member.email">{{member.email}}</ion-label>
    </ion-item>

    <ion-item>
      <ion-label color="primary" stacked>Contato</ion-label>
      <ion-label *ngIf="member.phone">{{member.phone}}</ion-label>
    </ion-item>

    <ion-item>
      <ion-label color="primary" stacked>Aniversário</ion-label>
      <ion-label *ngIf="member.birthdate">{{member.birthdate | date: "dd/MM/yyyy"}}</ion-label>
    </ion-item>

    <ion-item>
      <ion-label color="primary" stacked>Integração</ion-label>
      <ion-label *ngIf="member.integration">{{member.integration | titlecase}}</ion-label>
    </ion-item>

    <ion-item no-lines>
      <ion-label color="primary" stacked>Comentários Gerais</ion-label>
    </ion-item>

    <ion-item *ngIf="member.comments" text-wrap no-lines>
      <ion-label text-wrap>{{member.comments}}</ion-label>
    </ion-item>

  </ion-list>

  <ion-fab bottom right>
    <button ion-fab (click)="openPage('MemberDetailPage')"><ion-icon color="white" name="create"></ion-icon></button>
  </ion-fab>

</ion-content>
